@import url(normalize.css);

body {
  background-color: #fff;
  font: normal 16px "Source Sans Pro", sans-serif, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Oswald", sans-serif;
}

main {
  background-color: #f9f9f9;
}

#app-container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-logo {
  width: 64px;
  height: 64px;
  object-fit: contain;
}

.app-logo--small {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.app-title {
  font-size: 3.25rem;
  line-height: 3.2rem;
  text-align: center;
}

.app-subtitle {
  font-size: 1.5rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif, Arial;
}

.app-section__button {
  background-color: #55c2d8;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .app-section__button--subscribe,
  .app-section__button--advanced {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 50px;
  }
  .app-section__join-program input[type="text"] {
    box-sizing: border-box;
  }
}

/*join program section*/

.app-section__join-program {
  background: linear-gradient(
      to top,
      rgba(5, 17, 18, 0.5),
      rgba(5, 17, 18, 0.5)
    ),
    url(../assets/images/join-program-section.avif) no-repeat center/cover;
  height: 436px;
  max-width: 100%;
  color: white;
}
.app-section__button--subscribe,
.app-section__button--advanced, .app-section__button--unsubscribe {
  border-radius: 26px;
  font-size: 14px;
  height: 36px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.app-section__button--subscribe {
  width: 111px;
}
.app-section__button--unsubscribe {
  width: 121px;
  margin: 25px;
}
.app-section__button--advanced {
  width: 260px;
}
.app-section__join-program input[type="text"] {
  width: 400px;
  height: 36px;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 15px;
  margin: 25px 25px;
}

/*community section*/

.app-section__community {
  padding: 45px 0 35px;
  color: #464547;
  background: white;
  text-align: center;  
}
.app-section__community--cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-column-gap: 100px;
  padding: 0;
  margin: 0 140px 0;
}
.app-section__community--info h3{
  font: 400 16px/20px "Source Sans Pro", sans-serif, Arial;
}
.app-section__community--info h4{
  font: 700 12px/17.5px "Source Sans Pro", sans-serif, Arial;
  text-transform: uppercase;
}
.app-section__community--info p {
  font-size: 14px;
}

